

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#searchContainer{
	display: none;
	width: 80%;
	margin: 20px auto 20px auto;
}

#inputBox{
	height: 60px;
	font-size: 26px;
}

#topicContainer{
	margin: 20px auto ;
	padding: 5px;
	height: 80px;
	background-color: darkgrey;
}

#topics{
	margin: auto;
	list-style: none;
	height: 70px;
	font-size: 26px;
}

#topics li.active{
	background: white;
  height: 75px;
  font-size: 30px;
  font-weight: bold;
}

#topics li{
	display: inline-block;
	height: 70px;
	padding: 10px;
	line-height: 50px;
}

#list{
	height:100%;
	padding: 10px;
}

#list li{
	margin: auto;
	width: 65%;
	color: grey;
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	margin-top: 5px;
}

#list li:focus{
	background-color: #FFC66B;
}



footer p{
	margin-top: 10px;

}
footer{

	position:absolute;
	bottom: 0px;
	height: 45px;
	line-height: 30px;
	width: 100%;
	background-color: lightgrey;


}
